src/main/generated/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
temp
src/main/resources/conf/config.json
http-client.env.json
*.iml
.vertx/
.idea/
.mvn
doc/check.ttl
doc/check.http
.project
.vscode/
test.ttl
.DS_Store
conf/config.json
src/asciidoc